{% extends "bootstrap/base.html" %}
{% block title %}牛品种{% endblock %}

{% block content %}
 
<div class="panel panel-default">
  <div class="panel-heading">牛品种查询</div>
  <div class="panel-body">
     <div class="container"><div class="row">
       <div class="col-xs-6 col-md-offset-3">
       <form method="POST" class="form-horizontal" role="form">
        <div class="form-group">
        {{form.hidden_tag()}}
        <p>{{form.name.lable}}{{form.name(placeholder='请输入您要搜索的品种')}}</P>
        <p>{{form.submit()}}</p>
        </div>
      </form>
      </div>
    </div></div>
      {% if data == None %}</h2>抱歉，您所查询的品种未被收录</h2> {% elif name %}
  <div class="table-bordered">
    <table>
              <thead> <tr> <td><strong>项目</strong></td>
                           <td><strong>信息</strong></td> </tr> </thead>
              <tbody> <tr> <td>品种名称</td>
                           <td>{{ name }}</td> </tr> 
                      <tr> <td>产地</td>
                           <td>{{ habitat }}</td> </tr>
                      <tr> <td>血缘</td>
                           <td>{{ bloodline }}</td> </tr> 
                      <tr> <td>性状</td>
                           <td>{{ traits }}</td> </tr> 
                      <tr> <td>图片</td>
                           <td>{% if imgsite == None %}未收录品种图片{% else %}<img class="img-reaponsive" src={{ imgsite }} alt="品种图片" onload='if (this.width>280 || this.height>452) if (this.width/this.height>280/452) this.width=280; else this.height=452;'/></td> </tr> </tbody>{% endif %}
  </table>
  </div>
  {% else %}{% endif %}
  </div>
</div>

                              
{% endblock %}

